@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Oswald:regular,700&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffff00;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #220000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 120rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.popup__close {
  color: #220000;
}

.popup__text {
  color: #220000;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 700;
}

.header__body {
  padding: 0.625rem 0rem 0rem 0rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 0rem 0.9375rem 0rem;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem ))) {
  .header__top {
    -webkit-column-gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem );
       -moz-column-gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem );
            column-gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem ))) {
  .header__top {
    -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 85.375rem) / 34.625);
       -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 85.375rem) / 34.625);
            column-gap: calc(0.9375rem + 0.9375 * (100vw - 85.375rem) / 34.625);
  }
}

.header__imagebox {
  width: 100%;
}

@supports (max-width: clamp( 15.625rem , -3.1759927798rem  +  22.0216606498vw , 23.25rem )) {
  .header__imagebox {
    max-width: clamp( 15.625rem , -3.1759927798rem  +  22.0216606498vw , 23.25rem );
  }
}

@supports not (max-width: clamp( 15.625rem , -3.1759927798rem  +  22.0216606498vw , 23.25rem )) {
  .header__imagebox {
    max-width: calc(15.625rem + 7.625 * (100vw - 85.375rem) / 34.625);
  }
}

.header__image {
  display: inline-block;
  padding-bottom: 24%;
  width: 100%;
}

.header__phonebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}

.header__phone {
  font-family: "Roboto";
  color: #fff;
  font-weight: 700;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.3835740072rem  +  0.7220216606vw , 1.25rem )) {
  .header__phone {
    font-size: clamp( 1rem , 0.3835740072rem  +  0.7220216606vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.3835740072rem  +  0.7220216606vw , 1.25rem )) {
  .header__phone {
    font-size: calc(1rem + 0.25 * (100vw - 85.375rem) / 34.625);
  }
}

.header__phone::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  background-color: #afc8ff;
  left: 0;
  bottom: -0.25rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__phone-blue {
  color: #afc8ff;
}

.top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
}

@supports (max-width: clamp( 31.25rem , 15.8393501805rem  +  18.0505415162vw , 37.5rem )) {
  .top-menu__list {
    max-width: clamp( 31.25rem , 15.8393501805rem  +  18.0505415162vw , 37.5rem );
  }
}

@supports not (max-width: clamp( 31.25rem , 15.8393501805rem  +  18.0505415162vw , 37.5rem )) {
  .top-menu__list {
    max-width: calc(31.25rem + 6.25 * (100vw - 85.375rem) / 34.625);
  }
}

.top-menu__item {
  position: relative;
}

.top-menu__item:not(:last-child) {
  margin: 0rem 0.9375rem 0rem 0rem;
  padding: 0rem 0.9375rem 0rem 0rem;
}

.top-menu__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0.1875rem;
  background-color: #ffff00;
  top: 0;
  right: 0;
}

@supports (height: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem )) {
  .top-menu__item:not(:last-child)::after {
    height: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem );
  }
}

@supports not (height: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem )) {
  .top-menu__item:not(:last-child)::after {
    height: calc(1.25rem + 0.3125 * (100vw - 85.375rem) / 34.625);
  }
}

.top-menu__link {
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
}

@supports (font-size: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem )) {
  .top-menu__link {
    font-size: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem )) {
  .top-menu__link {
    font-size: calc(1.25rem + 0.3125 * (100vw - 85.375rem) / 34.625);
  }
}

.top-menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  background-color: #ffff00;
  right: 50%;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

@supports (gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem )) {
  .actions-header {
    gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , -1.3740974729rem  +  2.7075812274vw , 1.875rem )) {
  .actions-header {
    gap: calc(0.9375rem + 0.9375 * (100vw - 85.375rem) / 34.625);
  }
}

.actions-header__btn {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
  background: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
  background: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
}

@supports (font-size: clamp( 1rem , 0.6917870036rem  +  0.3610108303vw , 1.125rem )) {
  .actions-header__btn {
    font-size: clamp( 1rem , 0.6917870036rem  +  0.3610108303vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.6917870036rem  +  0.3610108303vw , 1.125rem )) {
  .actions-header__btn {
    font-size: calc(1rem + 0.125 * (100vw - 85.375rem) / 34.625);
  }
}

@supports (padding-left: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem )) {
  .actions-header__btn {
    padding-left: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem )) {
  .actions-header__btn {
    padding-left: calc(1.25rem + 0.3125 * (100vw - 85.375rem) / 34.625);
  }
}

@supports (padding-right: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem )) {
  .actions-header__btn {
    padding-right: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem );
  }
}

@supports not (padding-right: clamp( 1.25rem , 0.479467509rem  +  0.9025270758vw , 1.5625rem )) {
  .actions-header__btn {
    padding-right: calc(1.25rem + 0.3125 * (100vw - 85.375rem) / 34.625);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
  padding: 0.9375rem 0.625rem;
}

.menu__item.open {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
  background-image: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
  background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
  padding: 0.9375rem 0rem 0.9375rem 0rem;
}

.menu__link {
  color: #fff;
  font-weight: 700;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

@supports (font-size: clamp( 0.9375rem , 0.4751805054rem  +  0.5415162455vw , 1.125rem )) {
  .menu__link {
    font-size: clamp( 0.9375rem , 0.4751805054rem  +  0.5415162455vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.4751805054rem  +  0.5415162455vw , 1.125rem )) {
  .menu__link {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 85.375rem) / 34.625);
  }
}

.arrow {
  display: none;
  position: absolute;
  right: 0;
  top: 1.0625rem;
  width: 0;
  height: 0;
  border-top: 0.625rem solid #fff;
  border-right: 0.625rem solid transparent;
  border-left: 0.625rem solid transparent;
}

.arrow.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sub-menu__list {
  position: absolute;
  left: 0;
  top: 2.375rem;
  padding: 0.625rem 0rem 0rem 0rem;
  display: none;
}

@supports (top: clamp( 2.1875rem , 1.7251805054rem  +  0.5415162455vw , 2.375rem )) {
  .sub-menu__list {
    top: clamp( 2.1875rem , 1.7251805054rem  +  0.5415162455vw , 2.375rem );
  }
}

@supports not (top: clamp( 2.1875rem , 1.7251805054rem  +  0.5415162455vw , 2.375rem )) {
  .sub-menu__list {
    top: calc(2.1875rem + 0.1875 * (100vw - 85.375rem) / 34.625);
  }
}

.sub-menu__list.open {
  display: block;
}

.sub-menu__item {
  position: relative;
  z-index: 5;
  padding: 0.9375rem 0.625rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
  background-image: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
  background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
  min-width: 12.5rem;
}

.sub-menu__link {
  font-weight: 700;
  color: #fff;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

@supports (font-size: clamp( 0.9375rem , 0.4751805054rem  +  0.5415162455vw , 1.125rem )) {
  .sub-menu__link {
    font-size: clamp( 0.9375rem , 0.4751805054rem  +  0.5415162455vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.4751805054rem  +  0.5415162455vw , 1.125rem )) {
  .sub-menu__link {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 85.375rem) / 34.625);
  }
}

html.touch .arrow {
  display: block;
}

html.pc .menu a.parent {
  margin: 0rem 0rem 0rem 0rem;
}

html.pc .menu a.parent.menu__link.open {
  margin: 0rem 0rem 0rem 0rem;
}

@media (max-width: 85.43625em) {
@supports (max-width: clamp( 15.625rem , -7.2723607038rem  +  35.7771260997vw , 23.25rem )) {
    .header__imagebox {
      max-width: clamp( 15.625rem , -7.2723607038rem  +  35.7771260997vw , 23.25rem );
    }
}

@supports not (max-width: clamp( 15.625rem , -7.2723607038rem  +  35.7771260997vw , 23.25rem )) {
    .header__imagebox {
      max-width: calc(15.625rem + 7.625 * (100vw - 64rem) / 21.3125);
    }
}

  .header__phonebox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

@supports ((-moz-column-gap: clamp( 0.9375rem , -1.8695175439rem  +  4.3859649123vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , -1.8695175439rem  +  4.3859649123vw , 1.875rem ))) {
    .header__phonebox {
      -webkit-column-gap: clamp( 0.9375rem , -1.8695175439rem  +  4.3859649123vw , 1.875rem );
         -moz-column-gap: clamp( 0.9375rem , -1.8695175439rem  +  4.3859649123vw , 1.875rem );
              column-gap: clamp( 0.9375rem , -1.8695175439rem  +  4.3859649123vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.8695175439rem  +  4.3859649123vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , -1.8695175439rem  +  4.3859649123vw , 1.875rem ))) {
    .header__phonebox {
      -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 64rem) / 21.375);
         -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 64rem) / 21.375);
              column-gap: calc(0.9375rem + 0.9375 * (100vw - 64rem) / 21.375);
    }
}

@supports (font-size: clamp( 1rem , 0.2514619883rem  +  1.1695906433vw , 1.25rem )) {
    .header__phone {
      font-size: clamp( 1rem , 0.2514619883rem  +  1.1695906433vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.2514619883rem  +  1.1695906433vw , 1.25rem )) {
    .header__phone {
      font-size: calc(1rem + 0.25 * (100vw - 64rem) / 21.375);
    }
}

  .top-menu__list {
    max-width: 100%;
    padding: 0rem 0rem 0rem 0.5rem;
    margin: 0rem 0rem 0.9375rem 0rem;
  }

  .menu a.parent {
    margin: 0rem 1.5625rem 0rem 0rem;
  }

  .menu a.parent.menu__link.open {
    margin: 0rem 1.5625rem 0rem 0rem;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (any-hover: hover) {
  .header__phone:hover {
    color: #afc8ff;
  }

  .header__phone:hover::after {
    width: 100%;
  }

  .top-menu__link:hover::after {
    width: 100%;
  }

  .actions-header__btn:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }

  .menu__item:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
    background-image: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
    background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
  }

  .menu__item:hover .sub-menu__list {
    display: block;
    z-index: 5;
  }

  .menu__link:hover {
    color: #afc8ff;
  }

  .sub-menu__link:hover {
    color: #afc8ff;
  }
}