@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@font-face {
  font-family: Tahoma;
  font-display: swap;
  src: url("../fonts/Tahoma-Bold.woff2") format("woff2"), url("../fonts/Tahoma-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Tahoma;
  font-display: swap;
  src: url("../fonts/Tahoma.woff2") format("woff2"), url("../fonts/Tahoma.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cambria;
  font-display: swap;
  src: url("../fonts/Cambria-Bold.woff2") format("woff2"), url("../fonts/Cambria-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  font-display: swap;
  src: url("../fonts/Verdana-Bold.woff2") format("woff2"), url("../fonts/Verdana-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Verdana;
  font-display: swap;
  src: url("../fonts/Verdana.woff2") format("woff2"), url("../fonts/Verdana.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffff00;
  line-height: 1;
  font-family: "Verdana";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Verdana";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #220000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 120rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 0.625rem 0.9375rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

html.touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0rem 0rem 0rem 0.625rem;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  border-top: 0.625rem solid #fff;
  border-right: 0.625rem solid transparent;
  border-left: 0.625rem solid transparent;
}

html.touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html.touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

html.touch .menu__list > li.open .sub-menu__list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  pointer-events: all;
}

html.touch .menu__list > li.open .sub-menu__list_id7 {
  -webkit-transform: translate(20%, 0%);
      -ms-transform: translate(20%, 0%);
          transform: translate(20%, 0%);
}

html.touch .menu__list > li.open .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

html.pc .menu__list > li:hover .sub-menu__list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  pointer-events: all;
}

.spollers__title {
  text-align: center;
  font-family: "Tahoma";
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.93);
  background: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
  background: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
  background: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
}

/*
.menu {

	@media (max-width:$md7) {
		padding: rem(0) rem(0) rem(0) rem(0);
	}
	& a.parent {
		@media (max-width:$md5) {
			margin: rem(0) rem(25) rem(0) rem(0);
			&.menu__link.open {
				margin: rem(0) rem(25) rem(0) rem(0);
				// background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
				// padding: rem(15) rem(0) rem(15) rem(0);
			}
		}
	}
	@media (max-width: rem(941)) {
		margin: rem(20) rem(0) rem(0) rem(0);
	}
	&__body {}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$md5) {
			flex-wrap: wrap;
			column-gap: rem(30);
		}
		@media (max-width:$md8) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__item {
		position: relative;
		padding: rem(15) rem(10);
		@media (any-hover: hover) {
			&:hover {
				background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
				.sub-menu__list {
					display: block;
					z-index: 5;
				}
			}
		}
		& a.parent.menu__link.open {
			// background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
		}
		@media (max-width:$md7) {
			padding: rem(15) rem(5);
		}
		// &.open {
		// 	background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
		// 	padding: rem(15) rem(0) rem(15) rem(0);
		// }
		@media (max-width:$md8) {
			background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
			width: rem(230);
		}
	}
	&__link {
		color: $col3;
		font-family: $ff1;
		@include adaptiveValue("font-size", 18, 15, 1920, 1599.98);
		font-weight: 700;
		line-height: math.div(24, 18);
		transition: color 0.5s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $col2;
			}
		}
		@media (max-width:$md7) {
			font-size: rem(15);
		}
		@media (max-width:$md5) {
			@include adaptiveValue("font-size", 16, 14, 1366, 1024.98);
		}
		@media (max-width:$md8) {
			font-size: rem(18);
		}
	}
	&__arrow {}
}
.arrow {
	display: none;
	position: absolute;
	right: 0;
	top: rem(20);
	width: 0;
	height: 0;
	border-top: rem(10) solid $col3;
	border-right: rem(10) solid transparent;
	border-left: rem(10) solid transparent;
	&.active {
		transform: rotate(-180deg);
	}
	@media (max-width:$md8) {
		right: rem(15);
		top: rem(22);
	}
}
.sub-menu {
	&__list {
		position: absolute;
		left: 0;
		top: rem(38);
		padding: rem(10) rem(0) rem(0) rem(0);
		display: none;
		&.open {
			display: block;
		}
	}
	&__item {
		position: relative;
		z-index: 5;
		padding: rem(15) rem(10);
		background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
		min-width: rem(200);
	}
	&__link {
		font-family: $ff1;
		font-weight: 700;
		color: $col3;
		transition: color 0.5s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $col2;
			}
		}
	}
}
*/

.header__body {
  padding: 0.625rem 0rem 0rem 0rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__imagebox {
  margin: 0rem 1.875rem 0rem 0rem;
  width: 100%;
}

@supports (max-width: clamp( 20rem , 3.8107476636rem  +  16.199376947vw , 23.25rem )) {
  .header__imagebox {
    max-width: clamp( 20rem , 3.8107476636rem  +  16.199376947vw , 23.25rem );
  }
}

@supports not (max-width: clamp( 20rem , 3.8107476636rem  +  16.199376947vw , 23.25rem )) {
  .header__imagebox {
    max-width: calc(20rem + 3.25 * (100vw - 99.9375rem) / 20.0625);
  }
}

.header__image {
  display: inline-block;
  padding-bottom: 24.5%;
  width: 100%;
}

.header__phonebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (margin-right: clamp( 0.9375rem , -5.3120312793rem  +  6.2496093994vw , 2.1875rem )) {
  .header__phonebox {
    margin-right: clamp( 0.9375rem , -5.3120312793rem  +  6.2496093994vw , 2.1875rem );
  }
}

@supports not (margin-right: clamp( 0.9375rem , -5.3120312793rem  +  6.2496093994vw , 2.1875rem )) {
  .header__phonebox {
    margin-right: calc(0.9375rem + 1.25 * (100vw - 99.99875rem) / 20.00125);
  }
}

.header__phone {
  font-family: "Tahoma";
  line-height: 1.9;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  white-space: nowrap;
}

@supports (font-size: clamp( 1.0625rem , 0.1250703081rem  +  0.9374414099vw , 1.25rem )) {
  .header__phone {
    font-size: clamp( 1.0625rem , 0.1250703081rem  +  0.9374414099vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.0625rem , 0.1250703081rem  +  0.9374414099vw , 1.25rem )) {
  .header__phone {
    font-size: calc(1.0625rem + 0.1875 * (100vw - 99.99875rem) / 20.00125);
  }
}

.header__phone::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  background-color: #afc8ff;
  left: 0;
  bottom: -0.25rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__phone-blue {
  color: #afc8ff;
}

@supports (margin-right: clamp( 0.9375rem , -2.1872656396rem  +  3.1248046997vw , 1.5625rem )) {
  .banner-header {
    margin-right: clamp( 0.9375rem , -2.1872656396rem  +  3.1248046997vw , 1.5625rem );
  }
}

@supports not (margin-right: clamp( 0.9375rem , -2.1872656396rem  +  3.1248046997vw , 1.5625rem )) {
  .banner-header {
    margin-right: calc(0.9375rem + 0.625 * (100vw - 99.99875rem) / 20.00125);
  }
}

.banner-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (width: clamp( 33.125rem , -13.7464845947rem  +  46.8720704956vw , 42.5rem )) {
  .banner-header__list {
    width: clamp( 33.125rem , -13.7464845947rem  +  46.8720704956vw , 42.5rem );
  }
}

@supports not (width: clamp( 33.125rem , -13.7464845947rem  +  46.8720704956vw , 42.5rem )) {
  .banner-header__list {
    width: calc(33.125rem + 9.375 * (100vw - 99.99875rem) / 20.00125);
  }
}

.banner-header__item {
  font-family: "Cambria";
  line-height: 1.52;
  font-weight: 700;
  position: relative;
  letter-spacing: 0.015625rem;
}

@supports (font-size: clamp( 1.125rem , -1.0625rem  +  2.1875vw , 1.5625rem )) {
  .banner-header__item {
    font-size: clamp( 1.125rem , -1.0625rem  +  2.1875vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.125rem , -1.0625rem  +  2.1875vw , 1.5625rem )) {
  .banner-header__item {
    font-size: calc(1.125rem + 0.4375 * (100vw - 100rem) / 20);
  }
}

.banner-header__item:not(:last-child) {
  margin: 0rem 0.9375rem 0rem 0rem;
  padding: 0rem 0.9375rem 0rem 0rem;
}

.banner-header__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0.1875rem;
  background-color: #ffff00;
  right: 0;
  bottom: 0.3125rem;
}

@supports (height: clamp( 1.125rem , -1.0623359478rem  +  2.1873632898vw , 1.5625rem )) {
  .banner-header__item:not(:last-child)::after {
    height: clamp( 1.125rem , -1.0623359478rem  +  2.1873632898vw , 1.5625rem );
  }
}

@supports not (height: clamp( 1.125rem , -1.0623359478rem  +  2.1873632898vw , 1.5625rem )) {
  .banner-header__item:not(:last-child)::after {
    height: calc(1.125rem + 0.4375 * (100vw - 99.99875rem) / 20.00125);
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-header__btn {
  height: 3.75rem;
  color: #fff;
  font-family: "Tahoma";
  font-weight: 700;
  line-height: 1.3333333333;
  padding: 0rem 1.0625rem;
  text-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.93);
  background: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
  background: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
  background: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
}

@supports (font-size: clamp( 0.9375rem , 0.0000703081rem  +  0.9374414099vw , 1.125rem )) {
  .actions-header__btn {
    font-size: clamp( 0.9375rem , 0.0000703081rem  +  0.9374414099vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.0000703081rem  +  0.9374414099vw , 1.125rem )) {
  .actions-header__btn {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 99.99875rem) / 20.00125);
  }
}

.actions-header__btn:not(:last-child) {
  margin: 0rem 1.875rem 0rem 0rem;
}

.menu {
  padding: 0rem 0.9375rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
  padding: 0.9375rem 0.625rem;
}

.menu__item.open {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
  background-image: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
  background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
}

.menu__link {
  color: #fff;
  font-family: "Tahoma";
  font-weight: 700;
  line-height: 1.3333333333;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

@supports (font-size: clamp( 0.9375rem , 0.0000703081rem  +  0.9374414099vw , 1.125rem )) {
  .menu__link {
    font-size: clamp( 0.9375rem , 0.0000703081rem  +  0.9374414099vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.0000703081rem  +  0.9374414099vw , 1.125rem )) {
  .menu__link {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 99.99875rem) / 20.00125);
  }
}

.menu__arrow {
  display: none;
}

.sub-menu__list {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 12.5rem;
  z-index: 5;
}

.sub-menu__item {
  padding: 0.9375rem 0.625rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
  background-image: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
  background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
}

.sub-menu__link {
  font-family: "Tahoma";
  font-weight: 700;
  color: #fff;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

@media (min-width: 58.87375em) {
  .spollers {
    display: none;
  }

  .sub-menu__list {
    -webkit-transform: translate(0%, 10%);
        -ms-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
}

@media (max-width: 100em) {
  .banner-header__item {
    font-size: inherit;
  }
}

@media (max-width: 100.06125em) {
  .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

@supports (max-width: clamp( 20rem , 1.0296769507rem  +  22.2203230493vw , 23.25rem )) {
    .header__imagebox {
      max-width: clamp( 20rem , 1.0296769507rem  +  22.2203230493vw , 23.25rem );
    }
}

@supports not (max-width: clamp( 20rem , 1.0296769507rem  +  22.2203230493vw , 23.25rem )) {
    .header__imagebox {
      max-width: calc(20rem + 3.25 * (100vw - 85.37375rem) / 14.62625);
    }
}

  .header__phonebox {
    margin: 0rem 2.1875rem 0rem 0rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

@supports ((-moz-column-gap: clamp( 0.9375rem , -4.5347085719rem  +  6.4097085719vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , -4.5347085719rem  +  6.4097085719vw , 1.875rem ))) {
    .header__phonebox {
      -webkit-column-gap: clamp( 0.9375rem , -4.5347085719rem  +  6.4097085719vw , 1.875rem );
         -moz-column-gap: clamp( 0.9375rem , -4.5347085719rem  +  6.4097085719vw , 1.875rem );
              column-gap: clamp( 0.9375rem , -4.5347085719rem  +  6.4097085719vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -4.5347085719rem  +  6.4097085719vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , -4.5347085719rem  +  6.4097085719vw , 1.875rem ))) {
    .header__phonebox {
      -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 85.37375rem) / 14.62625);
         -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 85.37375rem) / 14.62625);
              column-gap: calc(0.9375rem + 0.9375 * (100vw - 85.37375rem) / 14.62625);
    }
}

@supports (font-size: clamp( 1.125rem , 0.3953721904rem  +  0.8546278096vw , 1.25rem )) {
    .header__phone {
      font-size: clamp( 1.125rem , 0.3953721904rem  +  0.8546278096vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.3953721904rem  +  0.8546278096vw , 1.25rem )) {
    .header__phone {
      font-size: calc(1.125rem + 0.125 * (100vw - 85.37375rem) / 14.62625);
    }
}

  .banner-header {
    display: none;
  }

  .banner-header__list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

@supports (height: clamp( 1.25rem , -0.574069524rem  +  2.136569524vw , 1.5625rem )) {
    .banner-header__item:not(:last-child)::after {
      height: clamp( 1.25rem , -0.574069524rem  +  2.136569524vw , 1.5625rem );
    }
}

@supports not (height: clamp( 1.25rem , -0.574069524rem  +  2.136569524vw , 1.5625rem )) {
    .banner-header__item:not(:last-child)::after {
      height: calc(1.25rem + 0.3125 * (100vw - 85.37375rem) / 14.62625);
    }
}

@supports (font-size: clamp( 1.25rem , -0.574069524rem  +  2.136569524vw , 1.5625rem )) {
    .banner-header__item {
      font-size: clamp( 1.25rem , -0.574069524rem  +  2.136569524vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -0.574069524rem  +  2.136569524vw , 1.5625rem )) {
    .banner-header__item {
      font-size: calc(1.25rem + 0.3125 * (100vw - 85.37375rem) / 14.62625);
    }
}

  .actions-header__btn {
    font-size: 1.125rem;
  }

  .menu {
    padding: 0rem 0rem 0rem 0rem;
  }

  .menu__item {
    padding: 0.9375rem 0.3125rem;
  }

  .menu__link {
    font-size: 0.9375rem;
  }
}

@media (max-width: 100.06125em) and (max-width: 85.37375em) {
  .header__imagebox {
    max-width: inherit;
  }

  .header__phonebox {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }

  .header__phone {
    font-size: inherit;
  }

  .banner-header__item:not(:last-child)::after {
    height: inherit;
  }

  .banner-header__item {
    font-size: inherit;
  }
}

@media (max-width: 99.9375em) {
  .header__imagebox {
    max-width: inherit;
  }
}

@media (max-width: 99.99875em) {
  .header__phonebox {
    margin-right: inherit;
  }

  .header__phone {
    font-size: inherit;
  }

  .banner-header {
    margin-right: inherit;
  }

  .banner-header__list {
    width: inherit;
  }

  .banner-header__item:not(:last-child)::after {
    height: inherit;
  }

  .actions-header__btn {
    font-size: inherit;
  }

  .menu__link {
    font-size: inherit;
  }
}

@media (max-width: 85.375em) {
  .header__top {
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0.625rem 0rem;
  }

  .header__imagebox {
    margin: 0rem 1.25rem 0rem 0rem;
  }

@supports (max-width: clamp( 21.75rem , 20.6272805684rem  +  1.7542833752vw , 22.125rem )) {
    .header__imagebox {
      max-width: clamp( 21.75rem , 20.6272805684rem  +  1.7542833752vw , 22.125rem );
    }
}

@supports not (max-width: clamp( 21.75rem , 20.6272805684rem  +  1.7542833752vw , 22.125rem )) {
    .header__imagebox {
      max-width: calc(21.75rem + 0.375 * (100vw - 63.99875rem) / 21.37625);
    }
}

  .header__phonebox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0rem 1.25rem 0rem 0rem;
  }

@supports ((-moz-column-gap: clamp( 0.625rem , -4.0529976317rem  +  7.3095140635vw , 2.1875rem )) or (column-gap: clamp( 0.625rem , -4.0529976317rem  +  7.3095140635vw , 2.1875rem ))) {
    .header__phonebox {
      -webkit-column-gap: clamp( 0.625rem , -4.0529976317rem  +  7.3095140635vw , 2.1875rem );
         -moz-column-gap: clamp( 0.625rem , -4.0529976317rem  +  7.3095140635vw , 2.1875rem );
              column-gap: clamp( 0.625rem , -4.0529976317rem  +  7.3095140635vw , 2.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -4.0529976317rem  +  7.3095140635vw , 2.1875rem )) or (column-gap: clamp( 0.625rem , -4.0529976317rem  +  7.3095140635vw , 2.1875rem ))) {
    .header__phonebox {
      -webkit-column-gap: calc(0.625rem + 1.5625 * (100vw - 63.99875rem) / 21.37625);
         -moz-column-gap: calc(0.625rem + 1.5625 * (100vw - 63.99875rem) / 21.37625);
              column-gap: calc(0.625rem + 1.5625 * (100vw - 63.99875rem) / 21.37625);
    }
}

@supports (font-size: clamp( 1.125rem , 0.7507601895rem  +  0.5847611251vw , 1.25rem )) {
    .header__phone {
      font-size: clamp( 1.125rem , 0.7507601895rem  +  0.5847611251vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.7507601895rem  +  0.5847611251vw , 1.25rem )) {
    .header__phone {
      font-size: calc(1.125rem + 0.125 * (100vw - 63.99875rem) / 21.37625);
    }
}

@supports (height: clamp( 1rem , 0.6257601895rem  +  0.5847611251vw , 1.125rem )) {
    .banner-header__item:not(:last-child)::after {
      height: clamp( 1rem , 0.6257601895rem  +  0.5847611251vw , 1.125rem );
    }
}

@supports not (height: clamp( 1rem , 0.6257601895rem  +  0.5847611251vw , 1.125rem )) {
    .banner-header__item:not(:last-child)::after {
      height: calc(1rem + 0.125 * (100vw - 63.99875rem) / 21.37625);
    }
}

@supports (font-size: clamp( 1rem , 0.6257601895rem  +  0.5847611251vw , 1.125rem )) {
    .banner-header__item {
      font-size: clamp( 1rem , 0.6257601895rem  +  0.5847611251vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.6257601895rem  +  0.5847611251vw , 1.125rem )) {
    .banner-header__item {
      font-size: calc(1rem + 0.125 * (100vw - 63.99875rem) / 21.37625);
    }
}

  .actions-header__btn:not(:last-child) {
    margin: 0rem 0.9375rem 0rem 0rem;
  }

@supports (padding-right: clamp( 0.625rem , -0.3105995263rem  +  1.4619028127vw , 0.9375rem )) {
    .actions-header__btn {
      padding-right: clamp( 0.625rem , -0.3105995263rem  +  1.4619028127vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.3105995263rem  +  1.4619028127vw , 0.9375rem )) {
    .actions-header__btn {
      padding-right: calc(0.625rem + 0.3125 * (100vw - 63.99875rem) / 21.37625);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.3105995263rem  +  1.4619028127vw , 0.9375rem )) {
    .actions-header__btn {
      padding-left: clamp( 0.625rem , -0.3105995263rem  +  1.4619028127vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.3105995263rem  +  1.4619028127vw , 0.9375rem )) {
    .actions-header__btn {
      padding-left: calc(0.625rem + 0.3125 * (100vw - 63.99875rem) / 21.37625);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.3761402842rem  +  0.8771416876vw , 1.125rem )) {
    .actions-header__btn {
      font-size: clamp( 0.9375rem , 0.3761402842rem  +  0.8771416876vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.3761402842rem  +  0.8771416876vw , 1.125rem )) {
    .actions-header__btn {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 63.99875rem) / 21.37625);
    }
}

  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

@supports ((-moz-column-gap: clamp( 1.25rem , -0.4076319448rem  +  2.6736538153vw , 1.875rem )) or (column-gap: clamp( 1.25rem , -0.4076319448rem  +  2.6736538153vw , 1.875rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -0.4076319448rem  +  2.6736538153vw , 1.875rem );
         -moz-column-gap: clamp( 1.25rem , -0.4076319448rem  +  2.6736538153vw , 1.875rem );
              column-gap: clamp( 1.25rem , -0.4076319448rem  +  2.6736538153vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.4076319448rem  +  2.6736538153vw , 1.875rem )) or (column-gap: clamp( 1.25rem , -0.4076319448rem  +  2.6736538153vw , 1.875rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 0.625 * (100vw - 61.99875rem) / 23.37625);
         -moz-column-gap: calc(1.25rem + 0.625 * (100vw - 61.99875rem) / 23.37625);
              column-gap: calc(1.25rem + 0.625 * (100vw - 61.99875rem) / 23.37625);
    }
}
}

@media (max-width: 85.375em) and (max-width: 63.99875em) {
  .header__imagebox {
    max-width: inherit;
  }

  .header__phonebox {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }

  .header__phone {
    font-size: inherit;
  }

  .banner-header__item:not(:last-child)::after {
    height: inherit;
  }

  .banner-header__item {
    font-size: inherit;
  }

  .actions-header__btn {
    padding-right: inherit;
  }

  .actions-header__btn {
    padding-left: inherit;
  }

  .actions-header__btn {
    font-size: inherit;
  }
}

@media (max-width: 85.375em) and (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }
}

@media (max-width: 84.75rem) {
  .header__phonebox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 75.5rem) {
  html.touch .menu__list > li.open .sub-menu__list_id6 {
    -webkit-transform: translate(37%, 0%);
        -ms-transform: translate(37%, 0%);
            transform: translate(37%, 0%);
  }
}

@media (max-width: 65.75rem) {
  html.touch .menu__list > li.open .sub-menu__list_id5 {
    -webkit-transform: translate(30%, 0%);
        -ms-transform: translate(30%, 0%);
            transform: translate(30%, 0%);
  }
}

@media (max-width: 63.99875em) {
  .header__imagebox {
    max-width: 21.75rem;
  }

  .header__phone {
    font-size: 1.125rem;
  }

  .banner-header__item:not(:last-child)::after {
    height: 1rem;
  }

  .banner-header__item {
    font-size: 1rem;
  }

  .actions-header__btn {
    padding: 0rem 0.625rem;
  }
}

@media (max-width: 61.99875em) {
  .header__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }

  .header__imagebox {
    margin: 0rem 0.9375rem 0rem 0rem;
    max-width: 21.5625rem;
  }

  .header__phonebox {
    padding: 0.625rem 0rem 0rem 0rem;
    row-gap: 0.625rem;
    margin: 0rem 0.625rem 0rem 0rem;
  }

@supports (font-size: clamp( 0.875rem , 0.0179559861rem  +  1.7855548612vw , 1.125rem )) {
    .header__phone {
      font-size: clamp( 0.875rem , 0.0179559861rem  +  1.7855548612vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.0179559861rem  +  1.7855548612vw , 1.125rem )) {
    .header__phone {
      font-size: calc(0.875rem + 0.25 * (100vw - 47.99875rem) / 14.00125);
    }
}

  .banner-header__list {
    width: 36.25rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    left: 0.9375rem;
    top: 6.25rem;
  }

@supports (margin-right: clamp( 0.625rem , -0.4463050174rem  +  2.2319435765vw , 0.9375rem )) {
    .banner-header__item:not(:last-child) {
      margin-right: clamp( 0.625rem , -0.4463050174rem  +  2.2319435765vw , 0.9375rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , -0.4463050174rem  +  2.2319435765vw , 0.9375rem )) {
    .banner-header__item:not(:last-child) {
      margin-right: calc(0.625rem + 0.3125 * (100vw - 47.99875rem) / 14.00125);
    }
}

  .banner-header__item:not(:last-child)::after {
    height: 1rem;
    bottom: 0.625rem;
  }

  .banner-header__item {
    font-size: 1.125rem;
    line-height: 2;
  }

  .actions-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.0625rem 0rem 0rem 0rem;
  }

  .actions-header__btn:not(:last-child) {
    margin: 0rem 0rem 1.875rem 0rem;
  }

  .actions-header__btn {
    width: 13.75rem;
    text-align: center;
    padding: 0rem 0rem 0rem 0rem;
    height: 3.25rem;
    font-size: 1rem;
  }

  .menu__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .header__phone {
    font-size: inherit;
  }

  .banner-header__item:not(:last-child) {
    margin-right: inherit;
  }
}

@media (max-width: 58.87375em) {
  html.touch .menu__arrow {
    margin: 0rem 0rem 0rem 0rem;
  }

  html.touch .menu__list > li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  html.touch .menu__list > li.open .sub-menu__list {
    -webkit-transform: translate(0%, 3%);
        -ms-transform: translate(0%, 3%);
            transform: translate(0%, 3%);
  }

  html.touch .menu__list > li.open .sub-menu__list_id7,
  html.touch .menu__list > li.open .sub-menu__list_id6,
  html.touch .menu__list > li.open .sub-menu__list_id5 {
    -webkit-transform: translate(0%, 3%);
        -ms-transform: translate(0%, 3%);
            transform: translate(0%, 3%);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__list li.open .sub-menu__list {
    display: block;
  }

  .menu__item.open {
    background-image: none;
  }

  .menu__item {
    width: 100%;
  }

  .menu__link {
    font-size: 1.25rem;
  }

  .sub-menu__list {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header__imagebox {
    margin: 0 auto;
  }

  .header__phonebox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    margin: 0rem 0rem 0rem 0rem;
  }

  .header__phone {
    font-size: 1.125rem;
  }

  .banner-header__list {
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 30rem;
    width: 100%;
  }

  .banner-header__item:not(:last-child) {
    margin: 0rem 0.625rem 0rem 0rem;
  }

  .banner-header__item {
    font-size: 1rem;
  }

  .actions-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 29.99875em) {
  .spollers {
    padding: 0rem 0.9375rem;
  }

  .spollers__title {
    font-size: 1rem;
    padding: 1.03125rem 0rem;
  }

  .header__container {
    margin: 0rem -0.9375rem;
  }

  .header__imagebox {
    padding: 0rem 0.9375rem;
  }

  .header__phonebox {
    padding: 0rem 0.9375rem 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.3125rem;
    margin: 0.9375rem 0rem 1.5625rem 0rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .banner-header__list {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .banner-header__item:not(:last-child) {
    padding: 0rem 0.3125rem 0rem 0rem;
    margin: 0rem 0.3125rem 0rem 0rem;
  }

  .banner-header__item:not(:last-child)::after {
    height: 0.875rem;
    bottom: 0.5rem;
    width: 0.0625rem;
  }

  .banner-header__item {
    font-size: 0.875rem;
    text-align: center;
  }

  .actions-header {
    padding: 0rem 0.9375rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0rem 0rem 1.5625rem 0rem;
  }

  .actions-header__btn:not(:last-child) {
    margin: 0rem 0rem 1.5625rem 0rem;
  }

  .actions-header__btn {
    width: 100%;
  }
}

@media (max-width: 100.06125em) and (min-width: 100em) {
  .header__imagebox {
    max-width: inherit;
  }

  .header__phonebox {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }

  .header__phone {
    font-size: inherit;
  }

  .banner-header__item:not(:last-child)::after {
    height: inherit;
  }

  .banner-header__item {
    font-size: inherit;
  }
}

@media (max-width: 85.375em) and (min-width: 85.375em) {
  .header__imagebox {
    max-width: inherit;
  }

  .header__phonebox {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }

  .header__phone {
    font-size: inherit;
  }

  .banner-header__item:not(:last-child)::after {
    height: inherit;
  }

  .banner-header__item {
    font-size: inherit;
  }

  .actions-header__btn {
    padding-right: inherit;
  }

  .actions-header__btn {
    padding-left: inherit;
  }

  .actions-header__btn {
    font-size: inherit;
  }

  .menu__list {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }
}

@media (max-width: 61.99875em) and (min-width: 62em) {
  .header__phone {
    font-size: inherit;
  }

  .banner-header__item:not(:last-child) {
    margin-right: inherit;
  }
}

@media (any-hover: hover) {
  .header__phone:hover {
    color: #afc8ff;
  }

  .header__phone:hover::after {
    width: 100%;
  }

  .actions-header__btn:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }

  .menu__item:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#850202), color-stop(53%, #ff0000), to(#a01600));
    background-image: -o-linear-gradient(bottom, #850202 0%, #ff0000 53%, #a01600 100%);
    background-image: linear-gradient(to top, #850202 0%, #ff0000 53%, #a01600 100%);
  }

  .menu__link:hover {
    color: #afc8ff;
  }

  .sub-menu__link:hover {
    color: #afc8ff;
  }
}